.card {
  margin: 20px ;
  background: rgba(255,255,255,0.5);
  height: 380px;
  border-radius: 5px;
  box-shadow: 1px 1px 11px 5px rgba(255, 255, 255, 0.9);
}

.img {
  transform: translateY(20px);
  cursor: pointer;
  width: 162px;
  height: 341px;
}
